.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #f0eff4;
  border-radius: 30px;
  min-height: calc(100dvh - 32px);
}

.auth-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  align-self: start;
}

.auth-footer {
  color: rgba(47, 47, 47, 0.5);
  margin-top: 16px;
}

.auth-link {
  font-weight: 700;
  text-decoration: underline;
  color: #2f2f2f;
  cursor: pointer;
}

.auth-link:hover,
.auth-link:focus {
  color: #87d28d;
}

@media only screen and (min-width: 768px) {
  .auth-layout {
    min-height: calc(100dvh - 64px);
    padding-left: 134px;
    padding-right: 134px;
    font-size: 16px;
    line-height: 1.5;
  }

  .auth-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 1439px) {
  .auth-layout-picture {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .auth-layout-wrap {
    display: flex;
    column-gap: 32px;
  }

  .auth-layout-picture {
    border: 1px solid red;
    background-color: #f0eff4;
    border-radius: 30px;
    min-height: calc(100dvh - 64px);
    width: 100%;
    flex: 1;
  }

  .auth-layout {
    padding-left: 118px;
    padding-right: 118px;
  }
}
