.wrapperUserPanel {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    /* tempr-styles */
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #f0eff4;
    height: 500px;
}

.titleUserPanel {
    font-family: "Gilroy", sans-serif;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #323f47;
}

.nameAcceptWeight {
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    .wrapperUserPanel {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .titleUserPanel {
        font-size: 36px;
        line-height: 1.06;
    }
}