/* header section */
.dailyInfo {
  background-color: #F0EFF4;
  min-height: 160px;
  padding: 0 16px;
}

/* @media screen and (min-width: 768px) {

}

@media screen and (min-width: 1440px) {

} */


.dailyHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.DailyInfoTitle {
  font-size: 20px;
  font-weight: 700;
  color: #323F47;
}

.addWaterWrap {
  display: flex;
  align-items: center;
  min-width: 124px;
  gap: 10px;
}

.addWaterText {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #323f47;
}

.addWaterBtn {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* ================================== */

.swiperContainer {
  width: 100%;
  display: flex;
  flex-wrap: nowrap; 
}




.cardsList {
  display: flex;
  gap: 8px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  width: 149px;
  height: 74px;
  padding: 14px 14px 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contentTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.waterAmount {
font-size: 14px;
font-weight: 700;
line-height: 14px;
color: #323F47;
}

.time {
font-size: 12px;
font-weight: 400;
line-height: 12px;
color: #2F2F2F99;
}

.btnWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.deleteBtn,
.editBtn {
  width: 14px;
  height: 14px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconTrash,
.iconEdit {
  fill: #fff;
  stroke: #323F47;
}




@media screen and (min-width: 768px) {
  .card {
    width: 192px;
  }

  .cardsList {
    gap: 32px;
  }

  .waterAmount {
    font-size: 15px;
  }

  .dailyInfo {
    padding: 0 32px;
    max-width: 640px;
  }

  .time {
    font-size: 14px;
  }

  .DailyInfoTitle {
    font-size: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .dailyInfo {
    max-width: 608px;
  }
}