.password-item {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 16px;
}

.password-label {
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}

.password-input {
  border: 1px solid rgba(47, 47, 47, 0.2);
  border-radius: 15px;
  padding: 16px;
  background-color: transparent;
  width: 100%;
  display: block;
  font-size: 16px;
}

.password-input::placeholder {
  color: rgba(47, 47, 47, 0.6);
  font-size: 14px;
}

.password-error {
  color: #ef5050;
  margin-top: 10px;
}

.password-input:hover,
.password-input:focus {
  outline: none;
}

.password-input.password-input-error {
  color: #ef5050;
  border-color: #ef5050;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .password-toggle-btn {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .password-item {
    margin-top: 20px;
  }
  
  .password-input-container {
    position: relative;
  }

  .password-input {
    padding: 16px 260px 16px 16px;
    height: 56px;
  }

  .password-input::placeholder {
    font-size: 16px;
  }

  .password-toggle-btn {
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    line-height: 0;
  }

  .password-toggle-btn svg {
    fill: #ffffff;
    stroke: #2f2f2f;
  }
}
