.box {
  text-align: center;
  width: calc((100% - 18px * 6) / 7);
  cursor: default;
}

.day {
  background: #fff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #323f47;
  margin-bottom: 6px;
}

.day.today {
  background: #323f47;
  color: #9be1a0;
  border: 1px solid #444;
  border-radius: 50%;
}

.day.selected {
  border: 3px solid #9be1a0;
  /* background: #d6d6d6; */
}

.text {
  font-size: 10px;
  line-height: 1;
  color: rgba(47, 47, 47, 0.6);
}

@media only screen and (min-width: 768px) {
  .box {
    width: calc((100% - 48px * 7) / 8);
  }

  .day {
    width: 38px;
    height: 38px;
    margin-bottom: 4px;
  }

  .text {
    font-size: 12px;
    line-height: 1.86667;
  }
}

@media only screen and (min-width: 1440px) {
  .box {
    width: calc((100% - 43px * 7) / 8);
  }
}